absl-py==1.4.0
aiohttp==3.8.5
aiosignal==1.3.1
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.1.0
astunparse==1.6.3
async-generator==1.10
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
branca==0.5.0
bs4==0.0.1
by==0.0.4
cachetools==5.3.1
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
colorama==0.4.6
comm==0.1.4
coqpit==0.0.17
cycler==0.11.0
Cython==0.29.35
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing==1.2.0
fastjsonschema==2.18.0
fasttext @ file:///C:/Users/18284/Desktop/4%ED%95%99%EB%85%841%ED%95%99%EA%B8%B0/hw/Curse-detection-v2/fasttext-0.9.2-cp310-cp310-win_amd64.whl#sha256=a4e36efbc087f32e11ff8ca6e6cc85ab5f6a6793809c4a00da99d176c57ef800
filelock==3.11.0
flatbuffers==23.5.26
folium==0.13.0
fonttools==4.33.3
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2022.8.2
future==0.18.3
gast==0.4.0
gensim==4.3.1
google-api-core==2.11.1
google-auth==2.19.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.3
google-cloud-speech==2.21.0
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.6.0
googleapis-common-protos==1.60.0
grpcio==1.57.0
grpcio-status==1.57.0
h11==0.14.0
h5py==3.8.0
hgtk==0.2.0
huggingface-hub==0.13.4
idna==3.4
iniconfig==2.0.0
ipykernel==6.17.1
ipython==8.6.0
ipython-genutils==0.2.0
ipywidgets==8.1.0
isoduration==20.11.0
jax==0.4.10
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
JPype1==1.4.1
Js2Py==0.74
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==7.4.6
jupyter_core==5.3.1
jupyter_server==2.7.2
jupyter_server_terminals==0.4.4
jupyterlab==4.0.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupyterlab_server==2.24.0
keras==2.12.0
kiwisolver==1.4.2
konlpy==0.6.0
libclang==16.0.0
lxml==4.9.2
Markdown==3.4.3
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.6
mistune==3.0.1
ml-dtypes==0.1.0
mpmath==1.3.0
multidict==6.0.4
mysql-connector-python==8.0.33
nbclient==0.8.0
nbconvert==7.7.4
nbformat==5.9.2
nest-asyncio==1.5.6
networkx==3.1
notebook==7.0.2
notebook_shim==0.2.3
numpy==1.22.4
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
outcome==1.2.0
overrides==7.4.0
packaging==21.3
pandas==1.5.0
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.1.1
pipwin==0.5.2
platformdirs==2.5.4
pluggy==1.0.0
prometheus-client==0.17.1
prompt-toolkit==3.0.32
proto-plus==1.22.3
protobuf==4.24.2
psutil==5.9.4
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
pybind11==2.10.4
pycparser==2.21
pydub==0.25.1
Pygments==2.13.0
pyjsparser==2.7.1
pypandoc==1.11
pyparsing==3.0.9
PyPrind==2.11.3
pySmartDL==1.3.4
PySocks==1.7.1
pytest==7.3.0
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2022.4
pywin32==305
pywinpty==2.0.11
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.4.3
QtPy==2.3.1
referencing==0.30.2
regex==2023.3.23
requests==2.28.1
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.9.2
rsa==4.9
scikit-learn==1.2.2
scipy==1.8.1
selenium==4.9.0
Send2Trash==1.8.2
seungminpark-calc==0.0.1
six==1.16.0
smart-open==6.3.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.4.1
soynlp==0.0.493
SpeechRecognition==3.10.0
stack-data==0.6.1
sympy==1.11.1
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorboardX==2.6
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado==0.17.1
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.13.3
tomli==2.0.1
torch==2.0.0
tornado==6.2
tqdm==4.65.0
trainer==0.0.24
traitlets==5.9.0
transformers==4.27.4
trio==0.22.0
trio-websocket==0.10.2
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==5.0.1
uri-template==1.3.0
urllib3==1.26.12
wcwidth==0.2.5
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.2
Werkzeug==2.3.4
widgetsnbextension==4.0.8
wrapt==1.14.1
wsproto==1.2.0
yarl==1.9.2
