<!DOCTYPE html>
<html>
<head>
    <title>Audio Recorder</title>
</head>

<body>

<button id="start">Start Recording</button>
<button id="stop" disabled>Stop Recording</button>

<script type="text/javascript">
    let chunks = [];
    let recorder;
    const startButton = document.getElementById('start');
    const stopButton = document.getElementById('stop');

    startButton.onclick = function() {
        chunks = []; // reset chunks for new recording
        navigator.mediaDevices.getUserMedia({ audio: true }).then(stream => {
            recorder = new MediaRecorder(stream);
            recorder.start();

            recorder.ondataavailable = e => {
                chunks.push(e.data);
                if(recorder.state == 'inactive'){
                    let blob = new Blob(chunks, { type: 'audio/wav' });
                    sendAudioToServer(blob);
                }
            };
        });

        stopButton.disabled = false;
        startButton.disabled = true;
    };

    stopButton.onclick = function() {
        if (recorder) {
            recorder.stop();
        }

        stopButton.disabled = true;
        startButton.disabled=false;
    };

   function sendAudioToServer(blob) {
       let formData  = new FormData();
       formData.append('audio', blob);

       fetch('/upload', {method: "POST", body: formData}).then(response =>{
           console.log(response.text());
       });
   }
</script>

</body>
</html>
